<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expression</title>
</head>
<body>
    <div ng-app='myApp' ng-controller='myCtrl'>
        <div>
            <input type="text" placeholder="Type Here" ng-model="data"/>
            You have Entered {{data}}
        </div>
        <div>
            <h3>{{data}}</h3>
            <button ng-click='changeName()'>Click To Change</button>
        </div>
    </div>
    <hr>
    <div>

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script>
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.data = 'soubhagya';
            $scope.changeName = function(){
                $scope.data = 'Ranjan'
            }
        })
    </script>
</body>
</html>